#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-brand img
{
	height: 45px;
	padding-left: 30px;
}
.navbar-nav li
{
	padding: 0 25px;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover
{
	color:deepskyblue;
}

.navbar-toggler
{
	border: none!important;
}


/*Header Slider*/
#slider
{
	width: 100%
}

.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h4
{
	color: white;
	font-size: 50px;
}

/*---About---*/
#about
{
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-content
{ 
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 20px;
}

.percentage-bar
{
	margin-bottom: 6px;
	font-weight: 600; 
}
.progress-bar
{
	border-radius: 24px;
}

.progress
{
	border-radius: 24px;
	margin-bottom: 24px;
}

#features
{
	background-color: black;
	background-size: cover;
	background-position: center;
	color: #efefef;
	background-attachment: fixed;
	padding-top: 50px; 
	padding-bottom: 50px;
}

#features h1
{
	text-align: center;
	color: #efefef;
	padding-bottom: 10px; 
}

#features h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.icon
{
	font-size: 60px;
	margin: 20px auto;
	/*padding: 20px;*/
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.features .col-md-4:hover
{
	background: mediumblue;
	cursor: pointer;
	transition: 0.5s;
}

#kuis
{
	object-position: center;
	position: center;
	padding-left: 6%;
	/* padding-right: 30%; */
	padding-top: 20px;
	background-color: #181818;
}

/*--- Contact Us---*/
#contact
{
	background: grey;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777777;
}

#contact h1
{
	text-align: center;
	padding-bottom: 15px;
}

.contact-form
{
	padding: 15px;
}

.form-control
{
	border-radius: 0!important;
	border: none;
}

.follow
{
	background: #ffffff;
	padding: 10px;
	margin: 15px;
}

.contact-info .fa 
{
	margin: 10px;
}


/*---Footer---*/
#footer
{
	background: black;
	color: #ffffff;
	padding: 12px;
	margin-top: 20px;
	text-align: center;
}
.fa-heart-o
{
	margin: 3px;
	color: red;

}

